<a href="https://colab.research.google.com/github/FarNunes/aluraDataScience/blob/main/Introdu%C3%A7%C3%A3o_a_Data_Science_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

notas = pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
notas.shape

(100836, 4)

In [ ]:
notas.columns = ["usuarioId", "filmesId", "nota", "momento"]
notas.head()

   usuarioId  filmesId  nota    momento
0          1         1   4.0  964982703
1          1         3   4.0  964981247
2          1         6   4.0  964982224
3          1        47   5.0  964983815
4          1        50   5.0  964982931